body{							/*custom properties for whole body*/
    background-color: #f8f8f8;
    width:100%;
    font-family: Aller;
    color: #212121;
}

@font-face{							/*for custom fonts Other Browsers*/
   						
    font-family: Aller; 
       src: url('../fonts/aller_rg.ttf') ;
    
} 	

@font-face{							/*for custom fonts in Internet Explorer. IE does not support ".ttf" fonts*/
       
    font-family: Aller; 
       src: url('../fonts/aller_rg.eot') ;
    
} 	

.logoHead{
    float: left;
    margin-top: 3%;
    margin-left: 10%;
    height: 75px;
    width: 70px;
}

nav{								/*custom properties for nav bar*/
	float: right;				 
    height:30px; 
    width:auto;
    margin-right: 10%;
    margin-top: 5%;
    
}


.navigationTab:hover {							/*custom properties for listed links with "navigationTab" as class while hovering mouse*/
    
    background-color: #212121;
    color: #f8f8f8; 
}

.active {							/*custom properties for listed links with "active" as class while page is active*/
    
    background-color: #212121;
    color: #f8f8f8;
    text-decoration:none; 
    text-align: center; 
    font-size:18px;
    padding: 3.15px 19.5px; 
    float:left;
}

.navigationTab{							/*custom properties for listed links with "navigationTab" as class*/
    
    text-decoration:none; 
    text-align: center; 
    color:#212121;
    font-size:18px;
    padding: 3.15px 19.5px;
    float:left;
}

.button{
    background-color: #212121;
    color: #f8f8f8;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover{
    opacity: .75;
}

